.program-description {
  margin-bottom: 41px;
  background-color: @grey;
}

.program-description__inner {
  font-family: @font;
}

.program-description__list {
  padding: 78px 0 287px 0;
  margin: 0;
  list-style: none;
  background-image: url(../../img/iphone-screen-mobile@1x.png);
  background-repeat: no-repeat;
  background-position: 50% 109%;

  @media (min-width: @desktop-width) {
    display: flex;
  }
}

.program-description__item {
  margin-bottom: 31px;
}

.program-description__title {
  padding: 0;
  margin: 0;
  margin-bottom: 12px;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}

.program-description__text {
  padding: 0;
  margin: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

.program-description__effect {
  display: none;

  @media (min-width: @tablet-width) {
    position: relative;
    display: block;
    width: 620px;
    padding: 80px 30px 67px 330px;
    background-color: @white;

    &::before {
      position: absolute;
      top: 59px;
      left: 20px;
      width: 238px;
      height: 276px;
      padding-top: 59px;
      text-align: center;
      font-family: @font;
      font-weight: bold;
      font-size: 96px;
      line-height: 163px;
      color: @red;
      background-image:
        url(../../img/icon-editor-diagram-fill.svg),
        url(../../img/icon-timer.svg);
      background-repeat: no-repeat, no-repeat;
      background-position: 50% 75%, 50% 50%;
      background-size: 202px auto, 238px auto;
      box-sizing: border-box;
      content: "24";
    }
  }

  @media (min-width: @desktop-width) {
    background-color: @grey;
  }
}

.program-description__effect-title {
  width: 170px;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
}

.program-description__effect-text {
  width: 300px;
  text-align: left;
}

.program-description__link {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: @red;
}
